
<ion-header>
  <ion-navbar primary no-border-bottom>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>Menu
    </button>
    <!--add show if wider device... <ion-title>Varieties</ion-title>-->
    <ion-buttons end>
      <button (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>Filters
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchVarieties($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let seed of filteredItems">
      <button ion-item (click)="goToSeedDetail(seed)">
        <ion-row>
          <ion-col width-50>
            <h3>{{seed.Genotypes}}</h3>
            <img src="img/seeds/{{seed.Genotypes}}.jpg" class="seedImage" onError="this.onerror=null;this.src='img/seeds/no seed image.png';">
          </ion-col>
          <ion-col width-50>
            <div class="seedStat">
              <img class="miniIcon" src="img/filters/grain yield.png">
              <!--<span><small>{{yield|summarise:"seed['Grain yield']"}} t/ha</small></span>-->
              <small>{{seed['Grain yield'].mean}} t/ha</small>
            </div>
            <div class="seedStat">
              <img class="miniIcon" src="img/filters/plant growth.png">
              <span><small>{{seed['Days to 50% Flowering'].mean}} days</small></span>
            </div>
            <div class="seedStat">
              <img class="miniIcon" src="img/filters/cost.png">
              <span><small>{{seed['Cost'].mean}}</small></span>
            </div>

          </ion-col>
        </ion-row>

      </button>
      <ion-item-options>
        <button favorite (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
          Favorite
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-list-header [hidden]="searchResults > 0">
    No Varieties Found
  </ion-list-header>
</ion-content>
