<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="performance-tab">
  <h2>Summary</h2>
  <div id="summaryVis"></div>
  <h2>By Research Trial</h2>
    <ion-list no-lines>
        <ion-item *ngFor="let trial of trialMetaArray; let i=index">
            <ion-card>
                <ion-card-label>
                    <h3><i>{{trial.trialName}}</i></h3>
                </ion-card-label>
                <ion-card-content>
                  <!--<div id="vis{{i}}"></div>-->
                    <table>
                      <!--column headings-->
                        <tr>
                            <td></td>
                            <td><strong>{{seedData.Genotypes}}</strong></td>
                            <td><strong>Trial Average</strong></td>
                        </tr>
                        <tr *ngFor = "let field of summaryFields">
                            <td>{{field.name}} ({{field.units}})</td>
                            <td>{{trial.seedStats[field.name].mean}}</td>
                            <td>{{trial.stats[field.name].mean}}</td>
                        </tr>
                    </table>
                    <a href="#" (click)="showFullResults(trial)" >View full trial results (grain yield)</a>
                    <!-- <h2>Performance Data</h2>
                 <div class="wrapText">
                     <p><i>Data from individual research trials will go here, including summary of performance and comparison to other varieties</i></p>
                 </div>-->

                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
