// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #27ae60,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  reset: #ffe500,
  light-blue: #03A9F4,
  teal: #009688,
  green: #4CAF50,
  yellow: #FFEB3B,
  //colours from material-ui flat
  turquoise: #1abc9c,
  emerland: #2ecc71,
  peterriver: #3498db,
  amethyst: #9b59b6,
  wetasphalt: #34495e,
  greensea: #16a085,
  nephritis: #27ae60,
  belizehole: #2980b9,
  wisteria: #8e44ad,
  midnightblude: #2c3e50,
  sunflower: #f1c40f,
  carrot: #e67e22,
  alizarin: #e74c3c,
  clouds: #ecf0f1,
  concrete: #95a5a6,
  orange: #f39c12,
  pumpkin: #d35400,
  pomegranate: #c0392b,
  silver: #bdc3c7,
  asbestos: #7f8c8d

);
